;{{ ansible_managed }}
$TTL 86400	; 1 day
@ IN SOA   server1. root.{{domain_name}}. (
				5        	 ; serial
				28800      ; refresh (3 hours)
				7200       ; retry (15 minutes)
				604800     ; expire (1 week)
				86400      ; minimum (1 day)
				)
@		IN	NS	server1
@ 	IN	PTR	example.com
server1	IN A {{base_server}}
