#{{ ansible_managed }}
options
{
	query-source    port 53;
	directory           "/var/named"; // the default
	dump-file 	        "/var/named/data/cache_dump.db";
  statistics-file 	  "/var/named/data/named_stats.txt";
  memstatistics-file 	"/var/named/data/named_mem_stats.txt";
};
logging 
{
  channel default_debug {
    file "data/named.run";
    severity dynamic;
  };
};
view "internal"
{
	match-clients		{ localnets; };
	match-destinations	{ localnets; };
	recursion yes;
	zone "example.com" IN {
		type master;
		allow-update { key ddns_key; };
		file "example.com.db";
	};
	zone "0.168.192.in-addr.arpa" IN {
		type master;
		allow-update { key ddns_key; };
		file "example.com.rev.db";
	};
	zone "." IN {
		type hint;
		file "named.ca";
	};
};
key ddns_key
	{
		algorithm hmac-md5;
		secret "nkU8NVsyL0enLXLRfQwm49JWh5aXwGwEoenK1ODHFUnx75oMyV1dSMXPRWG7";
	};
#include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";