#{{ ansible_managed }}
include "/etc/rndc.key";
options
{
	listen-on port 53 { 127.0.0.1;{{base_server}}; };
	directory           "/var/named"; // the default
	dump-file 	        "/var/named/data/cache_dump.db";
	statistics-file 	  "/var/named/data/named_stats.txt";
	memstatistics-file 	"/var/named/data/named_mem_stats.txt";
	allow-query { localhost;{{network_class}}.0/24; };
};
logging 
{
  channel default_debug {
    file "data/named.run";
    severity dynamic;
  };
};

zone "example.com" IN {
	type master;
	allow-update { key "rndc-key"; };
	notify yes;
	file "example.com.db";
};
zone "0.168.192.in-addr.arpa" IN {
	type master;
	allow-update { key "rndc-key"; };
	notify yes;
	file "example.com.rev.db";
};
include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
