#{{banner}}
upstream jenkins {
    server 127.0.0.1:{{jenkins.firewalld_service_port}};
}

server {
    listen      80;
    server_name {{jenkins_server_name}};

    access_log  /var/log/nginx/jenkins.access.log;
    error_log   /var/log/nginx/jenkins.error.log;

    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    location / {
        proxy_pass  http://jenkins;
    }
}