---
- name: install apache package
  action: "{{ ansible_pkg_mgr }} name={{ apache.package_name }} state=present"
  notify:
    - start apache
  tags: apache-package
  
- name: install apache module packages
  action: "{{ ansible_pkg_mgr }} pkg={{ item }} state=present"
  with_items: 
    apache_modules.packages
  notify:
    - start apache
  tags: apache-package

- name: Http firewall settings
  firewalld: "service=http permanent=true zone={{ firewall_zone }} state=enabled"
  when: ansible_os_family == 'RedHat'
  tags: apache-package