#Purpose: Installs DNS servers and completes DDNS Cycle
- name: Install bind package
  action: "{{ ansible_pkg_mgr }} name=bind state=present"
  notify:
    - start dns
  tags: named-package

- name: enable named service
  service: "name=named state=started enabled=true"
  tags: named-service
  
- name: update named conf file
  template: "src={{item}}.j2 dest=/etc/{{item}} force=yes"
  with_items:
    - "named.conf"
    - "rndc.key"
  notify:
    - restart dns
  tags: named-confs

- name: update named zone files 
  template: "src={{item}}.j2 dest=/var/named/{{item}} force=no"
  with_items:
  - "example.com.db"
  - "example.com.rev.db"
  notify:
    - restart dns
  tags: named-confs
    
- name: update permissions
  file: dest=/var/named owner=named group=named state=directory
  tags: named-confs

- name: update dns firewall settings
  firewalld: "service=dns zone={{firewall_zone}} permanent=true state=enabled"
  when : ansible_os_family == 'RedHat'
  tags: named-confs