---
#NTP Service
- name: start ntp
  service: "name={{ ntp.service_name }} state=started enabled=true"
  tags: ntps-service
  
- name: restart ntp
  service: "name={{ ntp.service_name }} state=restarted"
  tags: ntps-service
#FTP Service
- name: start ftp
  service: "name={{ ftp.service_name }} state=started enabled=true"
  tags: ftp-service
  
- name: restart ftp
  service: "name={{ ftp.service_name }} state=restarted"
  tags: ftp-service
#DHCP Service
- name: start dhcp
  service: "name={{ dhcp.service_name }} state=started enabled=true"
  tags: dhcp-service

- name: restart dhcp
  service: "name={{ dhcp.service_name }} state=restarted"
  tags: dhcp-service
#Apache Service
- name: start apache
  service: "name={{ apache.service_name }} state=started enabled=true"
  tags: apache-service
  
- name: restart apache
  service: "name={{ apache.service_name }} state=restarted"
  tags: apache-service
  
#Jenkins Service
- name: start jenkins
  service: name=jenkins state=started enabled=true

- name: restart jenkins
  service: name=jenkins state=restarted
#DNS Service
- name: start dns
  service: name=named state=started enabled=true
  tags: dns-service

- name: restart dns
  service: name=named state=restarted
  tags: dns-service
- name: reload dns
  service: name=named state=reloaded
  tags: dns-service
#Masq Service
- name: start dnsmasq
  service: "name={{ dnsmasq.service_name }} state=started enabled=true"
  tags: dnsmasq-service
  
- name: restart dnsmasq
  service: "name={{ dnsmasq.service_name }} state=restarted"
  tags: dnsmasq-service 