################################################
#{{banner}}
################################################
anonymous_enable=YES
listen=YES
local_enable=NO
write_enable=NO
listen_port=21
anon_root={{vsftpd.anon_root}}
local_umask=022
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
ftpd_banner={{vsftpd.banner}}
listen_ipv6=NO
pam_service_name={{vsftpd.service_name}}
userlist_enable=YES
tcp_wrappers=YES